__pycache__/
*.db
*.csv
.env
venv/
.vscode/
.idea/
# Puppy Linux packages installed in local folder
flask/
flask-*/
requests/
requests-*/
beautifulsoup4-*/
bs4/
blinker/
blinker-*/
click/
click-*/
itsdangerous/
itsdangerous-*/
jinja2/
jinja2-*/
markupsafe/
markupsafe-*/
werkzeug/
werkzeug-*/
charset_normalizer/
charset_normalizer-*/
idna/
idna-*/
urllib3/
urllib3-*/
certifi/
certifi-*/
soupsieve/
soupsieve-*/
typing_extensions.py
typing_extensions-*/
bin/
*.so
